.hero {
    margin-top: 10vh;
    height: 400px;
    background-color: lightgray;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 3rem;
}

span {
    margin-right: 2rem;
}

aside {
    width: 20%;
    border-radius: 15px;
    border: 2px solid black;
    margin-left: 1rem;
    margin: 10px 0;
}

.category_heading {
    margin-left: 1rem;
}

.sub_categories {
    border: 1px solid black;
    width: 80%;
    margin: 1rem auto;
    line-height: 2;
    border-radius: 10px;
}

.sub_categories>p {
    margin-left: 1rem;
    cursor: pointer;
}

.my-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

main {
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sort {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
}