.login-form {
    bottom: 0;
    position: absolute;
    width: 400px;
    height: max-content;
    background-color: #fff;
    transform: translate(0%, 100%);
    border: 2px solid;
    border-radius: 15px;
    padding: 1rem 2rem;
}




@media (max-width:850px) {
    .login-form {
        display: none;
    }
}