.container {
    display: flex;
    width: 100%;
}

aside {
    width: 20%;
    border-radius: 15px;
    border: 2px solid black;
    margin-left: 1rem;
    margin: 10px 0;
}

.category_heading {
    margin-left: 1rem;
}

.sub_categories {
    border: 1px solid black;
    width: 80%;
    margin: 1rem auto;
    line-height: 2;
    border-radius: 10px;
}

.sub_categories>p {
    margin-left: 1rem;
    cursor: pointer;
}

main {
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    line-height: 2;
    margin: 1rem;
}

.card>p {
    margin-left: 1rem;
}

.wish {
    margin: 0 auto;
    display: block;
    background-color: gray;
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
}

.card_btns {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
}

.card_btns>button {
    transform: translateY(-2px);
    padding: .2rem 2rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all .2s;
}

.card_btns>button:active {
    transform: translateY(0);
    box-shadow: none;
}

.buy {
    background-color: var(--green);
}

.add-cart {
    background-color: var(--yellow)
}

.card_img {
    width: 100%;
    text-align: center;
    height: 100px;
    background: gray;
    border-radius: 10px 10px 0 0;
}




.profile-btn {
    position: relative;
}

.profile-menu {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: #fff;
    width: 400px;
    height: 300px;
    border: 2px solid;
    border-radius: 10px;
}



.hero {
    margin-top: 10vh;
    height: 400px;
    background-color: lightgray;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 3rem;
}


.profile-menu {
    padding: 1rem;
}

.myAccount-btn {
    cursor: pointer;
}

/* Cart  */
